body {
  background-color: white;
  font-family: 'Indie Flower', cursive;
}

#shoppingcart {
    height: 15px;
      width: 1.5%;
  }

h1 {
  font-size: 5em;
}

#kickit1 {
    background: linear-gradient(to right,  #ae0f14 30%,#ec1d23 70%);
    padding-bottom: 100px;
  }
article {
  background-color: #ee3c22;
}

#imagesize {
    display: inline-block;
    width: 20%;
    padding-left: 135px;
  }



.size-em {
  font-size: 1.5em;
  text-transform: capitalize;
  line-height: 2em;
  font-style: italic;
  letter-spacing: 2px;
}

div {
  display: inline-block;
  width: 45%;
  background-color: #FFB2B2;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 12px;
  margin-right: 15px;
  border-left: 5px dotted red;
  border-top: 5px dotted red;
  border-right: 5px dotted red;
  border-bottom: 5px dotted red;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;

  border-radius: 10px;
}

#kickit3 {
  color: white;
  display: inline-block;
  width: 5%;
  background-color: #13e536;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 12px;
  margin-right: 15px;
  border-left: 5px solid green;
  border-top: 5px solid green;
  border-right: 5px solid green;
  border-bottom: 5px solid green;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

ul li: hover {
  background-color: red;
}
h3 {
  font-size: 1.5em;
  text-align: center;
}

aside {
}

#fivestars {
  height: 20px;
    width: 5%;
}
